{
  	"presets": ["latest", "react"],
  	"plugins": [
		"transform-runtime",
		"transform-class-properties",
		"transform-es2015-spread",
		"transform-object-rest-spread",
		"syntax-dynamic-import"
	]
}
