/* demo */
@import "../../base/public.scss";



.demo-wrap{
    width: 1000px;
    margin: 0 auto;
    .demo-title{
        font-size: 20px;
        padding: 10px 0;
    }
    .demo-show{
        padding: 10px;
        background: #fff;
    }
}



.demo-show{
    [class^="icon-"], [class*=" icon-"]{
        display: block;
        font-size: 30px;
        
    }
    .mls{
        display: block;
        padding: 10px 0;
    }
    .glyph{
        float: left;
        width: 150px;
        background: #fff;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    .hidden-true,.unitRight{
        display: none;
    }
}