//@import "../base/_config.scss";
//@import "../base/_app.scss";

.btn{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    border: 0;
    background: $primary;
    color: $white;
    text-align: center;
    cursor: pointer;
    &.btn-block{
        display: block;
        width: 100%;
    }
    &.disable,&[disabled]{
        background: #ccc;
        cursor: no-drop;
    }
}
