@import "../base/_config.scss";
.drop-down{
	float:left;
	height:36px;
	position:relative;
	cursor:pointer;
	font-size:14px;
	margin-left:50px;
	z-index:5;
	dl{
		height:36px;
		line-height:36px;
		text-align:center;
		overflow: hidden;
		dt{
			padding:0 5px;
			height:36px;
			float: left;
		}
		dd{
			width:40px;
			height:36px;
			font-size:16px;
			float: left;
		}
		.arrow-down{
			display:block;
		}
		.arrow-up{
			display:none;
		}
	}
	ul{
		display:none;
		list-style:none;
		position:absolute;
		box-sizing:border-content;
		min-width:116px;
		box-shadow:0 0 10px rgba(0,0,0,.12);
		border-radius:3px;
		padding:10px 0;
		overflow:hidden;
		background: #FFF;
		li{
			
			background: #FFF;
			padding-left:30px;
			height:36px;
			line-height:36px;
			&:hover{
				background: $bg;
				color:$primary;
			}
			&.active{
				color:$primary;
			}
		}
	}
	&.open{
		dl{
			color:$primary;
		}
		ul{
			display:block;
		}
		dl{
			.arrow-down{
				display:none;
			}
			.arrow-up{
				display:block;
			}
		}
	}
}