/**
 * [功能介绍]
 * @Author: Fu Xiaochun
 * @Email:  fuzhengchun@gomeplus.com
 */
@import "../base/_config.scss";

.introduction{
	position:fixed;
	right:50px;
	top:150px;
	z-index:10;
	width:120px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	background:#FFF;
	padding-bottom:10px;
	h2{
		background:$primary;
		color:#FFF;
		font-size:14px;
		height:36px;
		line-height:36px;
		font-weight:normal;
		text-align:center;
	}
	dl{
		cursor:pointer;
		dt{
			height:36px;
			line-height:36px;
			text-align:center;
		}
		dd{
			background:#f8f8f8;
			color:#666;
			padding:0 10px 10px 10px;
			display:none;
			word-break:break-all;
			 white-space:pre-wrap;
		}
		&:hover{
			dt{
				color:$primary;
				background:#f8f8f8;
			}
			dd{
				display:block;
			}
		}
	}
}