/* back2top */
@import "../../base/public.scss";

.back2top {
  display: none;
  background: #d0cecd;
  position: fixed;
  right: 100px;
  bottom: 200px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: 1px solid #fff;
  opacity: 0.6;
  cursor: pointer;
  &:after {
    content: "\21EA";
  }
}